doctype html 
html 
  head 
    title helloWorldApp 
    link(rel="stylesheet", href="/stylesheets.css")
  body 
    nav
      ul 
        li 
          a(href="http://", target="_blank", rel="noopener noreferrer") Home
        li 
          a Meet Sam Smith
        li 
          a Meet Jacob Collier





doctype html 
html 
  head 
    title helloWorldApp 
    link(rel="stylesheet", href="/stylesheets.css")
  body 
    nav
      ul 
        li 
          a(href="/samsmith") Meet Sam Smith
        li 
          a(href="/jacobcollier") Meet Jacob Collier
    form(action="", method="post") 
